name: Publish NuGet package

on:
  push:
    branches: main

env:
  BUILD_CONFIGURATION: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
      
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.0.5

    - name: Build
      run: dotnet build --configuration $BUILD_CONFIGURATION

    - name: Test
      run: dotnet test --no-build --configuration $BUILD_CONFIGURATION

    - name: Pack
      run: dotnet pack --no-build --configuration $BUILD_CONFIGURATION --output ./nupkgs
    
    - name: Push NuGet package
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      run: dotnet nuget push ./nupkgs/*.nupkg --source https://api.nuget.org/v3/index.json --api-key $NUGET_API_KEY --skip-duplicate
    
